<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>
	<div ng-app="ngApp" ng-controller="ngCtrl">
		Last Name : <input type="text" ng-model="lastName">
		First Name : <input type="text" ng-model="firstName"> <br>
		Full Name : {{fullName()}}
	</div>
	
	<script>
	var app = angular.module('ngApp', []);
	app.controller('ngCtrl', function($scope) {
		$scope.firstName = "Jonghyeon";
		$scope.lastName = "Choi";
		$scope.fullName = function() {
			return $scope.lastName + ' ' + $scope.firstName;
		};
	});
	</script>
</body>
</html>